:root {
  --green: #BFCC94;
  --light: #F0F4EF;
  --dark_blue: #344966;
  --dark: #0D1821;
  --light_grey: #D6D8E7;
  /* --dark_grey: #B9BAC4; */
  /* --dark_grey: #757575; */
  --dark_grey: #5f6368;
  --white: #FFFFFF;
  --dark_green: #8D9F4F;
  
  --width_content: 1280px;

  --screen_small: 480px;
  --screen_medium: 867px;
  --screen_large: 1280px;
}

body {
  margin: 0; 
  padding: 0;
}

h1, h2, h3, h4, textarea, input, button, a, div, p, span, label {
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: local('Poppins'), url(./assets/fonts/Poppins//Poppins-Light.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: local('Poppins'), url(./assets/fonts/Poppins//Poppins-LightItalic.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Italic.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-MediumItalic.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-BoldItalic.ttf) format('truetype');
  font-display: swap;
}
