.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 413px;
  height: 151px;
  position: absolute;
  background: #F0F4EF;
  border-radius: 16px;
  z-index: 2;
  top: 60px;
  left: 0px;
}

.slider {
  position: relative;
  width: 379px;
  top: -30px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 12px;
  /* height: 5px; */
}

.slider__track {
  background-color: #D6D8E7;
  width: 100%;
  height: 12px;
  z-index: 1;
}

.slider__range {
  background-color: #BFCC94;
  height: 12px;
  z-index: 2;
}

.slider__left-value {
  font-size: 12px;
  margin-top: 32px;
  display: flex;
  height: 34px;
  /* width: 52px; */
  font-size: 16px;
  line-height: 34px;
  color: #344966;
}

.slider__right-value {
  font-size: 12px;
  margin-top: 32px;
  display: flex;
  height: 34px;
  /* width: 52px; */
  font-size: 16px;
  line-height: 34px;
  color: #344966;
  justify-content: flex-end;
}

.slider__left-value {
  left: 0px;
}

.slider__right-value {
  right: 0px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 379px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #F7F7FC;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #BFCC94;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-top: -40px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
